.dir.vlzgbic[class][class] {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    margin: 0;
    transition: transform 0.25s ease;
    padding: var(--d-b-mrdy) 0 0 0;
}
.dir.vhemoww[class][class] {
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    transition: transform 0.25s ease;
}
.card {      
    height: 330px;
}
.card-body {
    min-height: 400px;
    min-width: 400px;
    margin-right: 5px;
}

  ._y0ndqr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-size: 22px !important;
    line-height: 26px !important;
    font-weight: 600 !important;
}
._1sikdxcl {
    font-size: inherit !important;
    font-family: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    line-height: inherit !important;
    color: #222222 !important;
    text-decoration: underline !important;
    border-radius: 4px !important;
    font-weight: 600 !important;
    text-align: inherit !important;
    outline: none !important;
}