/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bgimg{
  width: 100vw;
  height: 100vh;
}
 */
 .dir.c1grjlav[class][class] {
  background: transparent;
  cursor: pointer;
  margin: 0;
  text-align: inherit;
  background-color: var(--f-mkcy-f);
  border: 1px solid var(--j-qkgmf);
  border-radius: 21px;
  transition: box-shadow 0.2s ease;
}
.c1grjlav[class][class] {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  color: inherit;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  outline: 0;
  overflow: visible;
  padding: 0;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-user-select: auto;
  user-select: auto;
  outline: none;
  align-items: center;
  color: var(--f-k-smk-x);
  display: inline-flex;
  height: 42px;
  position: relative;
  vertical-align: middle;
  z-index: 1;
}
.fp36fst[class][class] {
  color: var(--fo-jk-r-s);
  flex: 0 0 30px;
  height: 30px;
  overflow: hidden;
  position: relative;
  width: 30px;
  z-index: 1;
}
.dir-ltr.fp36fst[class][class] {
  margin-left: 12px;
}
.main .card{ /* You Can Name it what you want*/
  margin-right: 15px;
}
.main .card:last-child{
margin-right:0px;
/*so the last one dont push the div thas giving the space only between the inputs*/
}
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 
.dir.c13cw3wj[class][class] {
  transition: color 250ms ease;
}
.cbavvlr[class][class] {
  color: #FF385C;
}